extends base.pug
include mixins/video

    
block content
    h2 Welcome! you will see my first backEnd project
    each item in videos 
        +video(item)
        //- +mixinName(objectName)
        
        //- 즉, videos 안의 각각의 item애 대해서, video라는 mixin을 호출해서, item라는 정보 객체를 보내고 있는 것이다.
        //- 이 item이 video mixin 안의 info가 될 것이고,
        //- 여기서 info는 mixin이 받게 될 데이터를 지칭한다.
        //- 이렇게 작성된 mixin파일을 이용하여 홈페이지를 비롯한 검색페이지, 사이드바, 채널페이지 어디든 사용할 수 있다.
    else 
        li Sorry nothing found